.project

# Visual Studion tiedostoja
*/[Ee]xported[Oo]bj/
*.booproj
*.pidb
*.suo
*.svd
*.user
*.userprefs
bin/
obj/
.vs/
Compiled/
Compiled*/

# Dolphin
.directory
.idea
__pycache__
# run
HD2Sound/
StrategyGifs/
build-Call_Strategies_GUI-Desktop_Qt_5_12_12_MinGW_64_bit-Debug/
icon/